<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.group12.tinytasks">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".util.internet.InternetChangeReciever">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.ApplicationHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".popups.signin.SignInScreen" />
        <activity android:name=".popups.signin.SignUpEmailScreen" />
        <activity android:name=".popups.signin.SignUpOtherScreen" />
        <activity android:name=".popups.signin.SignInEmailScreen" />
        <activity android:name=".popups.signin.SignInSuccessScreen" />
        <activity android:name=".popups.createtask.CreateTaskPart1Screen" />
        <activity android:name=".popups.createtask.CreateTaskPart2Screen" />
        <activity android:name=".popups.createtask.CreateTaskPart3Screen" />
        <activity android:name=".popups.createtask.CreateTaskSuccessScreen" />
        <activity android:name=".popups.tasks.SearchSettingsScreen" />
        <activity android:name=".popups.tasks.ViewTaskScreen" />
        <activity android:name=".popups.tasks.ViewMyTaskScreen" />
        <activity android:name=".popups.tasks.ViewMyTasksScreen" />
        <activity android:name=".popups.tasks.TaskDeletedScreen" />
        <activity android:name=".popups.user.ViewUserProfileScreen" />
        <activity android:name=".popups.internet.InternetUnavailableScreen" />
        <activity android:name=".popups.location.LocationSelectionScreen" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id"
            tools:replace="android:value" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
    </application>

</manifest>